
<h1><%=params['team']['name']%></h1>
<br>
<h2>Team Motto: <%=params['team']['motto']%></h2>

<h2>Hero Name: <%=params['team']['heroes'][0]['name']%></h2>
<h2>Hero Power: <%=params['team']['heroes'][0]['power']%></h2>
<h2>Hero Biography: <%=params['team']['heroes'][0]['bio']%></h2>

<h2>Hero Name: <%=params['team']['heroes'][1]['name']%></h2>
<h2>Hero Power: <%=params['team']['heroes'][1]['power']%></h2>
<h2>Hero Biography: <%=params['team']['heroes'][1]['bio']%></h2>

<h2>Hero Name: <%=params['team']['heroes'][2]['name']%></h2>
<h2>Hero Power: <%=params['team']['heroes'][2]['power']%></h2>
<h2>Hero Biography: <%=params['team']['heroes'][2]['bio']%></h2>
